# Exercise 2: Create markdown cell with title of the notebook
# Data Science Tools and Ecosystem

# Excercise 3: Create a markdown cell for an introduction
# In this notebook, Data Science Tools and Ecosystems are summarised.
Objectives:
- Anaconda 
- RStudio
- Python
- SQL

# Excerside 4: Create a markdown cell to list data science languages
# Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. SQL
4. Julia

# Excercise 5: Create a markdown cell to list data science libraries
# Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. TensorFlow

# Excercise 6: Create a markdown cell with a table of Data Science tools

| Data Science Tools |
| :- |
| RStudio |
| Jupyter Notebook |
| Anaconda |

# Excerside 7: Create a markdown cell introducing arithmetic expression examples
### Below are a few examples of evaluating arithmetic expressions in Python

# Excercise 8: Create a code cell to multiply and add numbers

In [4]:
(3*4)+5
#This a simple arithmetic expression to multiply then add integers

17

# Excercise 9: Create a code cell to convert minutes to hours

In [3]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

# Excercise 11: Create a markdown cell to indicate the Author's name
## Author
Nguyen Dang Khoa